/*!
 * Main CSS Chamele Project 0.1.a
 * Author : Chamele aka Syaiful Nur H
 * Website : https://chamele.github.io
 * Based -
 * Copyright 2017 Chamele Project
 * Last edit 30 March 2017
*/

/* Source Sans Pro Font */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

/* General Layout */
html,
body {
  max-height: 100%;
  max-width: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
/* Content */
.content {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* General Links */
a {
  color: #3c8dbc;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #72afd2;
}
/* Main Header */
.main-header {
  font-size: 20px;
  text-align: center;
  display: block;
  padding-top: 10px;
}
/* Logo */
.logo {
  text-transform: uppercase;
}
/* Main Footer */
.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
  margin-top: 15px;
}
.main-footer-right {
  float: right;
}
@media (max-width: 670px) {
  .main-footer-right {
    display: none;
}
/* Navigation Bar */
nav {
 margin:auto;
 text-align: center;
} 
nav ul ul {
 display: none;
}
nav ul li:hover > ul{
display: block;
width: 170px;
}
nav ul {
 background: #3c8dbc;
 padding: 0 20px;
 list-style: none;
 position: relative;
 display: inline-table;
}
nav ul:after {
 content: ""; 
 clear:both; 
 display: block;
}
nav ul li{
 float:left;
}
nav ul li:hover{
 background:#72afd2;
}
nav ul li:hover a{
 color:#fff;
}
nav ul li a{
 display: block;
 padding: 25px;
 color: #fff;
 text-decoration: none;
}
nav ul ul{
 background: #53bd84;
 border-radius: 0px;
 padding: 0;
 position: absolute;
 top:100%;
}
nav ul ul li{
 float:none;
 border-top: 1px soild #53bd84;
 border-bottom: 1px solid #53bd84;
 position: relative;
}
nav ul ul li a{
 padding: 15px 40px;
 color: #fff;
}

nav ul ul li a:hover{
 background-color: #72afd2;
}
nav ul ul ul{
 position: absolute;
 left: 100%;
 top: 0;
}